a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

.gitWrapper {
  flex: 1;
  flex-basis: 350px;
  max-width: 349px;
  min-width: 349px;
  max-height: 310px;
  min-height: 310px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  background-color: #fff;
  border: solid 3px #000;
  border-radius: 10px;
  color: #000;
  flex-wrap: nowrap;
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 20px;
}
.projectName {
  width: 100%;
}
.nameContainer {
  width: 100%;
}

hr {
  width: 100%;
  margin: 0;
}

h2 {
  margin: 5px;
}
