.homeBody {
  width: 100%;
  height: 100%;
  display: block;
}
.content {
  margin-top: 400px;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  align-self: center;
  line-height: 2em;
  font-size: 1em;
  font-family: 'droid sans mono', sans-serif;
  display: block;
}
.buttonGit {
  padding: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
}
.buttonGit button {
  border: none;
  flex: 1;
  background-color: #fff;
  color: #000;
  font-size: 1.3em;
  border-radius: 20px;
  border: solid 6px #000;
  font-weight: bold;
  font-family: 'Roboto Mono';
  letter-spacing: 3px;
  cursor: pointer;
  padding: 20px;
  position: relative;
  margin-top: 20px;
}
