.homeBody {
  width: 100%;
  height: 100%;
  display: block;
}
.content {
  margin-top: 220px;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  align-self: center;
  display: block;
}
.buttonGit {
  padding: 0;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.buttonGit button {
  border: none;
  flex: 1;
  background-color: #000;
  color: #fff;
  font-size: 1.3em;
  border-radius: 5px;
  font-weight: bold;
  font-family: 'Roboto Mono';
  letter-spacing: 3px;
  cursor: pointer;
  padding: 20px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 100px;
}
