.navBarContainer {
  display: block;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid #000;
  background: linear-gradient(rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.80)),
    url('../images/portBanner.jpg');
}

.navBarContainer header {
  display: flex;
  align-content: space-between;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}

.navBarContainer h1 {
  flex: 1;
  align-self: flex-start;
  padding-top: 10px;
  font-size: 1em;
}

.navBarContainer header .brand {
  flex: 4;
  display: flex;
  justify-content: flex-start;
}

.navBarContainer header .brand h1 {
  margin: 10px 0 0 25px;
}

.navBarContainer header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navBarContainer header nav button {
  align-self: baseline;
  margin: 10px 25px 0 0;
}

.navBarContainer header nav a {
  text-align: center;
  flex: 1;
  color: black;
  text-decoration: none;
}

.imageFloat2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.imgContainer2 {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.imgContainer2 img {
  width: 100%;
  border-radius: 50%;
  border: solid 6px #000;
}

.menuButton {
  color: #fff;
  background: rgba(0, 0, 0, 0.10);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.6em;
  margin-right: 25px;
  margin-top: 10px;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
}
.navClose {
  display: none;
}

.navOpen {
  display: block;
}
@media only screen and (min-width: 600px) {
  .navBarContainer h1 {
    font-size: 1.5em;
    padding-top: 5px;
  }
}

@media only screen and (min-width: 1000px) {
  .navBarContainer h1 {
    font-size: 2em;
    padding-top: 0px;
    padding-left: 30px;
  }
}
