
.socialBarContainer {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  margin-right:auto;
  margin-left:auto;
  justify-content: space-around;
  position: relative;
}

.socialBarChild {
  flex: 1;
  border: none;
  margin: none;
  padding: 10px;
  background-color: #fff;
  font-size: 2em;
  cursor: pointer;
}
