body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.topSpacer {
  margin-top: 100px;
}
.pageContent {
  width: 90%;
  margin-right:auto;
  margin-left:auto;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  padding-left:30px;
}
h2 {
  font-family: 'Roboto Mono', monospace;
}
p {
  font-family: 'droid sans mono', sans-serif;
  line-height: 2em;
  font-size: 1em;
}

.section {
  width: 100%;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #000;
}

@media only screen and (min-width: 1000px) {
  .section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .pageContent {
    width: 100%;
  }
}
